body
{
    font-family: calibri;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.menu
{
    margin: 0px 0px 0px 0px;
    padding-left: 0px 0px 0px 0px;
    background-color: cornflowerblue;
    float: left;
    width: 15%;
    height: 100vh;
    border-radius: 10px;
}

.menu ul
{
    margin-left: 10px;
    padding-left: 0px;
}

.menu li
{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 10px;
    border: 1px solid white;
    border-radius: 5px;
    width: 75%;
    margin-top: 5px;
    color: white;
    text-align: center;
}

.menu h4
{
    margin-top: 10px;
}

#conteneur
{
    /*background-color: lightgray;*/
    margin-left: 16%;
    height: 100vh;
}

.photos
{
    text-align: center;
}

figure
{
    display: inline-block;
}

.photos img
{
    width: 200px;
    height: 200px;
}

figcaption
{
    text-align: center;
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5
{
    text-align: center;
}

li:hover
{
    background-color: orange;
    cursor: grab;
}

th
{
    padding-left: 30px;
}

.img_tbl
{
    width: 100px;
    height: 100px;
    padding-left: 30px;
    margin-bottom: 50px;
}

input
{
    margin-bottom: 50px;
}

.cours2 th
{
    background-color: black;
    color: white;
}

.cours2 td
{
    background-color: white;
}

#abr_lin
{
    width: 500px;
}

h1
{
    margin-bottom: 0px;
    margin-top: 5px;
}

h3
{
    margin-top: 0px;
    display: none;
}

h4
{
    margin-bottom: 0px;
    margin-top: 0px;
}

iframe
{
    margin: 0px 0px 0px 0px;
    width: 95%;
    height: 95vh;
}

ul
{
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
}

p
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
