@font-face {
    font-family: 'Arial';
    src: url('fonts/arial.ttf') format('truetype');
}

@font-face {
    font-family: 'ArialGras';
    src: url('fonts/ariblk.ttf') format('truetype');
}

.tadaSNT {font-family: 'Arial', sans-serif;}

p {
    color: black;
    zoom: 150%;
}
a {
    text-decoration: none;
    height: 150px;
}
body {
    background-color: goldenrod;
    margin: 0px;
}
.display-flex {
    flex-direction: column;
    display: grid; 
    place-items: center; 
    /* height: 100vh;
    margin-top: 50px; */
}
.element {
    width: 276px;
    height: 50px;
    text-align: center;
    border: solid 2px black;
    border-radius: 20px;
    cursor: default;
    zoom: 2;
}
.element:hover {
    background-color: gold;
}
h1 {
    text-align: center;
    color: black;
    text-decoration: none;
    zoom: 150%;
}
p {
    text-align: center;
}
h2 {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 2.7em;
}
@media (max-width: 1100px) {
    .display-flex {
        flex-direction: column;
    }
    .element {
        width: 98%;
        margin-bottom: 10px;
    }
}
@media (max-width: 552px) {
    .element {
        zoom: 1;
    }
}
.logo-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
        margin: 0;
        padding: 0;
        /* overflow: hidden; */
        position: relative;
    }

    .logoNSI {
        position: relative;
        z-index: 1; /* Initial z-index */
        transition: all 0.3s ease; /* Pour animer les changements */
        cursor: pointer;
        max-width: 100%;
        max-height: 100%;
    }

    .full-screen {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centre l'image */
        z-index: 2; /* Afficher l'image par-dessus le reste */
        width: auto;
        height: auto;
        max-width: 100vw; /* Limite la taille de l'image à 100% de la largeur de la fenêtre */
        max-height: 100vh; /* Limite la taille de l'image à 100% de la hauteur de la fenêtre */
    }

    .close-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        background-color: red;
        color: white;
        border: none;
        font-size: 18px;
        padding: 5px 10px;
        cursor: pointer;
        z-index: 3;
        display: none;
    }
    @media (max-width: 512px) {
        .logoNSI {
        width: 100% !important;
        height: auto !important; /* Maintient le ratio de l'image */
        }
    }
    @media (max-width: 545px) {
        .logoSNT {
            width: 100% !important;
            height: auto !important;
        }
        .tadaSNT {
            font-size: 20pt !important;
        }
    }